html,
        body,
        div,
        span,
        applet,
        object,
        iframe,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        blockquote,
        pre,
        a,
        abbr,
        acronym,
        address,
        big,
        cite,
        code,
        del,
        dfn,
        em,
        img,
        ins,
        kbd,
        q,
        s,
        samp,
        small,
        strike,
        strong,
        sub,
        sup,
        tt,
        var,
        b,
        u,
        i,
        center,
        dl,
        dt,
        dd,
        ol,
        ul,
        li,
        fieldset,
        form,
        label,
        legend,
        table,
        caption,
        tbody,
        tfoot,
        thead,
        tr,
        th,
        td,
        article,
        aside,
        canvas,
        details,
        embed,
        figure,
        figcaption,
        footer,
        header,
        hgroup,
        menu,
        nav,
        output,
        section,
        summary,
        time,
        mark,
        audio,
        video {
            margin: 0;
            padding: 0;
            border: 0;
            font: inherit;
            font-size: 100%;
            vertical-align: top;
        }

        a img {
            border: none;
        }

        html {
            width: 100%;
            font-family: 'Roboto', sans-serif;
            letter-spacing: 0.5px;
        }


        p {
            font-family: 'Roboto', sans-serif;
        }
        /*FONT*/
        .font-10 {
            font-size: 10px;
        }

        .font-11 {
            font-size: 11px;
        }

        .font-12 {
            font-size: 12px;
        }

        .font-13 {
            font-size: 13px;
        }

        .font-14 {
            font-size: 14px;
        }

        .font-15 {
            font-size: 15px;
        }

        .font-16 {
            font-size: 16px;
        }

        .font-17 {
            font-size: 17px;
        }

        .font-18 {
            font-size: 18px;
        }

        .font-20 {
            font-size: 20px;
        }

        .font-22 {
            font-size: 22px;
        }

        .font-24 {
            font-size: 24px;
        }

        .font-28 {
            font-size: 28px;
        }

        .font-30 {
            font-size: 30px;
        }

        .font-36 {
            font-size: 36px;
        }

        .font-40 {
            font-size: 40px;
        }

        .ivory-white {
        	background: #f3f3f3;
        }

        .white {
            color: #FFFFFF;
        }

        .green {
            background: #1c603e;
        }

        .brown {
            background:#c9bca9;
        }

        .bold {
            font-weight: 700;
        }

        ul li {
        	list-style: none;
        }

        sup {
            font-size: 8px;
            height: 20px;
            vertical-align: top;
            position: relative;
            top:  -3px;
        }

        

        .desktop-section {
            position: relative;
            font-family: 'Roboto', sans-serif;
        }

        .desktop-version {
            display: block;
            opacity: 1;
            visibility: visible;
        }

        .mobile-version {
            display: none;
            opacity: 0;
            visibility: hidden;
        }


        /*general class*/
        .regular-text {
            font-size: 16px;
            line-height: 20px;
        }

        .normal {
            font-weight: 300!important;
        }

        h3.regular-text {
            font-size: 16px;
            line-height: 22px;
        }

        h4.regular-text {
            font-size: 16px;
            line-height: 22px;
        }

        p.regular-text {
            font-size: 16px;
            line-height: 22px;
        }

        .title-ornament {
            text-align: center;
            position: relative;
        }

        .title-ornament .line-title {
            position: absolute;
            width: 100%;
            background: #2f3a82;
            left: 0;
            display: block;
            height: 5px;
            top: 50%;
        }

        .title-ornament .title-text {
            color: #333c74;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 600;
            background: #ddd176;
            width: 80%;
            border-radius: 20px;
            margin: 0 auto;
            padding: 8px;
            display: block;
            z-index: 200;
            position: relative;
            box-shadow: 0px 1px 36px 5px rgba(221,209,118,0.5);
            -webkit-box-shadow: 0px 1px 36px 5px rgba(221,209,118,0.5);
            -moz-box-shadow: 0px 1px 36px 5px rgba(221,209,118,0.5);
        }

        .title-ornament .title-text.big {
            border-radius: 50px;
        }

        /*hero banner*/

        .home-banner_images {
            position: relative;
        }

        .home-banner_text {
            position: absolute;
            z-index: 300;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            top: 0px;
            color: #696968;
        }

        .hero-banner {
            text-align: center;
            color:#fff;
            padding-top: 0px;
            font-family: 'Roboto', sans-serif;
            position: relative;
            background: #fffffb;
        }

        .home-banner_bottom {
            position: relative;
            background: #fffffb;
        }

        .home-banner_text-inner {
            width: 80%;
            margin: 0 auto;
        }

        .home-banner_text-inner h4{
            margin-top: 10px;
        }

        .home-banner_text-inner h4 span {
            background: #333c74;
            color: #fff;
            padding: 3px;
        }

       

        /*top section*/
        .top-section {
            background: #ffffff;
            position: relative;
            z-index: 200;
            font-family: 'Roboto', sans-serif;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .top-section_wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
        }

        .top-section_wrapper-images {
            width: 50%;
            padding: 20px;
        }

        .top-section_wrapper-text {
            width: 50%;
            padding: 20px 10px;
            color: #696968;
            font-size: 14px;
        }

        .top-section_wrapper-text h3 {
            font-size: 14px;
        }

        .top-section_wrapper-text .blue-text {
            background: #1f2b74;
            display: block;
            padding:10px 10px;
            color: #fff;
            margin-bottom: 10px;
            line-height: 18px;
        }

        .top-section_wrapper-text p {
            padding:10px 10px;
            font-size: 14px;
            line-height: 18px;
        }

        


        /*sign section*/

        .sign-section  {
            position: relative;
            margin-top: 0px;
            text-align: center;
            background: #fff;
        }

        .sign-section_wrapper {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: row;
            margin: 0 auto;
            width: 70%;
            z-index: 200;
            position: relative;
        }

        .sign-section_wrapper.bottom {
            width: 50%;
        }

        .sign-section_wrapper.bottom .sign-section_block {
            margin-top: 0px;
        }

        .sign-section_block {
            width: 33%;
            padding: 20px;
            color: #696968;
            margin-top: 30px;

        }

        .sign-section_block h3 {
            position: relative;
            vertical-align: middle;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin-top: 10px;
            font-size: 14px;
            color: #696968;
        }

        .sign-result h4{
            border: 2px solid #fff;
            padding: 15px 25px;
            display: inline-block;
            margin: 30px 0;
        }

        .sign-graph {
            display: flex;
            flex-direction: row;
            width: 90%;
            margin: 30px auto 0;
            padding-bottom: 50px;
        }

        .sign-images {
            width: 50%;
        }

        .sign-par {
            width: 50%;
            color: #fff;
            text-align: left;
            padding-left: 60px;
            padding-right: 50px;
        }

        .sign-par_p {
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 20px;
        }

        .sign-par_span {
            font-size: 14px;
            background: #26abf0;
            padding:10px 20px;
            display: block;
            font-weight: 500;
            line-height: 20px;
        }

        .medicine-ornament_left {
            position: absolute;
            bottom: 10%;
            width: 200px;
            left: 0;
        }

        .medicine-ornament_right {
            position: absolute;
            bottom: 20%;
            right: 0;
            width: 150px;
        }

        .footnote-bottom {
            text-align: center;
            position: relative;
            width: 70%;
            margin: 20px auto 50px auto;
        }

        .footnote-bottom h3 {
            color: #333c74;
            font-size: 16px;
            font-weight: 600;
            border: 2px solid #333c74;
            padding: 20px;
        }

       

        /* muscle health section*/
        .muscle_health-section {
            background: #fff;
            width: 100%;
            margin: 0 auto;
        }

        .muscle_health-title {
            position: relative;
            margin-top: -80px;
        }

        .muscle_health-ing-title {
            color: #b81f27;
            border-bottom: 1px solid #b81f27;
            padding-bottom: 10px;
            font-size: 24px;
            vertical-align: bottom;
            text-align: center;
            width: 90%;
            margin: 0 auto;
            margin-bottom: 40px;

        }

        .muscle_health-ing-title b {
            font-size: 42px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 24px;
        }

        .muscle_health-block {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 90%;
            margin: 0 auto 40px auto;
        }

        .muscle_health-images {
            width: 50%;
        }

        .muscle_health-content {
             width: 50%;
             padding-left: 30px;
             color: #696968;
        }

        .muscle_health-content.left {
            padding-left: 0;
            padding-right: 30px;
        }

        .muscle_health-content h3 {
            background: #b81f27;
            font-size: 28px;
            color: #fff;
            display: inline-block;
            padding: 10px 10px;
            margin-bottom: 10px;
            text-transform: uppercase;
            font-weight: 600;
        }
        .muscle_health-content p {
            font-size: 14px;
            line-height: 18px;
        }
        .muscle_health-content p font {
            background: #ddd176;
        }

        .muscle_health-block-subtitle {
            width: 30%;
        }

        .muscle_health-block-subtitle h3 {
            background: #b81f27;
            font-size: 28px;
            color: #fff;
            display: inline-block;
            padding: 10px 10px;
            margin-bottom: 10px;
            text-transform: uppercase;
            font-weight: 600;
        }

        .muscle_health-block-textsub p{
            font-size: 14px;
            line-height: 18px;
            color: #696968;
        }

        .muscle_health-block-textsub {
            width: 70%;
        }


        /* joint health section*/
        .joint_health-section {
            background: #1f2d7c;
            width: 100%;
            margin: 0 auto;
            padding: 20px 0 100px;
            position: relative;
        }

        .joint_health-bg {
            position: absolute;
            bottom: 0;
            left: 0;
        }
       
        .joint_health-ing-title {
            color: #ffffff;
            border-bottom: 1px solid #ffffff;
            padding-bottom: 10px;
            font-size: 24px;
            vertical-align: bottom;
            text-align: center;
            width: 90%;
            margin: 0 auto;
            margin-bottom: 40px;
            padding-top: 30px;

        }

        .joint_health-ing-title b {
            font-size: 42px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 24px;
        }

        .joint_health-block {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 90%;
            margin: 0 auto 40px auto;
        }

        .joint_health-block.bottom-section {
            margin-bottom: 20px;
        }

        .joint_health-images {
            width: 50%;
        }

        .joint_health-content {
             width: 50%;
             padding-left: 30px;
             color: #fff;
        }

        .joint_health-content.left {
            padding-left: 0;
            padding-right: 30px;
        }

        .joint_health-content h3 {
            background: #ddd176;
            font-size: 28px;
            color: #333c74;
            display: inline-block;
            padding: 10px 10px;
            margin-bottom: 10px;
            text-transform: uppercase;
            font-weight: 600;
        }
        .joint_health-content p {
            font-size: 14px;
            line-height: 18px;
        }
        .joint_health-content p font {
            background: #ddd176;
            color: #333c74;
        }

        .joint_health-block-subtitle {
            width: 45%;
        }

        .joint_health-block-subtitle h3 {
            background: #ddd176;
            font-size: 28px;
            color: #333c74;
            display: inline-block;
            padding: 10px 10px;
            margin-bottom: 10px;
            text-transform: uppercase;
            font-weight: 600;
        }

        .joint_health-block-textsub p{
            font-size: 14px;
            line-height: 18px;
            color: #fff;
        }

        .joint_health-block-textsub {
            width: 55%;
        }

        
        /*promise section*/

        .promise-section {
            background: #fff;
            position: relative;
            padding-bottom: 50px;
        }

        .promise-section-title {
            position: relative;
            top: -150px;
        }

        .promise-section_content {
            position: relative;
            left: 0px;
            color: #2361cb;
            width: 100%;
            margin: -150px auto 0 auto;
            text-align: center;
            overflow: hidden;
        }

        .promise-text {
            color: #2361cb;
            font-size: 14px;
            line-height: 18px;
        }

        .promise-name {
            font-weight: 700;
            font-size: 20px;
            margin-top: 20px;
        }

        .title-promise-section {
            font-size: 26px;
            line-height: 34px;
            font-weight: 700;
            color: #1f2b74;
            border-bottom: 2px solid #1f2b74;
            width: 80%;
            margin: 0 auto 50px auto;
        }

        .promise-section-inner {
            position: relative;
            width: 80%;
            margin: 0 auto;
        }

        .promise-section-inner p {
            font-size: 13px;
            color: #696968;
            line-height: 18px;
            margin-bottom: 10px;
        }

        .promise-section-inner {
            width: 70%;
            margin: 0 auto;
        }

        .promise-title {
            font-size: 13px;
            line-height: 17px;
            display: block;
            font-weight: 700;
            margin-top: 2px;
        }

        .promise-section_content_wrap-text {
            position: relative;
        }

        .promise-section-inner_ornament {
            position: absolute;
            width:180px;
            top: -100px;
            left: -50px;
        }

        .promise-section_content.bottom {
            margin-top: 30px;
        }

        .promise-section_content_wrap-flex {
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 80%;
            margin: 0 auto;
        }

        .promise-section_content_wrap-flex-images {
            width: 50%;
        }

        .promise-section_content_wrap-flex-content {
            width: 50%;
            text-align: left;
            color: #696968;
        }

        .promise-section_content_wrap-flex-content p {
            font-size: 13px;
            line-height: 16px;
        }

        .promise-section-inner_ornament_bottom {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 130px;
        }

        /*testimoni section*/

        .testimoni-section {
            position: relative;
            text-align: center;
            padding: 30px 0;
            width: 80%;
            margin: 0 auto;
        }

        .testimoni-section h3 {
            color: #333c74;
            font-size: 30px;
            line-height: 34px;
            font-weight: 700;
        }

        .testimoni-content {
            background: #2f3a82;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: left;
            padding: 20px 20px 0 20px;
            color: #fff;
            margin-bottom: 25px;
            align-items: center;
            border-radius: 20px;
        }

        .testimoni-wrapper {
            padding-top: 40px;
        }

        .testimoni_text {
            font-size: 13px;
            width: 90%;
            line-height: 19px;
            font-weight: 400;
            padding-bottom: 20px;
            padding-left: 20px;
        }

        .testimoni_text h3 {
            display: block;
            font-weight: 700;
            color: #fff;
            font-size: 22px;
            margin: 0;
        }

        .testimoni_images {
            width: 9%;
            text-align: right;
            position: relative;
            top: -10px;
        }



        .testimoni_images img {
            width: 100%;
        }

        .background-bottom {
            position: absolute;
            top: 0;
        }

        .bottom-bg {
            position: relative;
        }

        .testimoni-content-2-col {
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        .testimoni-content.two-col{
            width: 50%;
            margin: 0 5px;
            flex-direction: column;
            text-align: left;
            align-items: flex-start;
        }

        .testimoni-content.two-col .testimoni_images {
            width: 50px;
        }

        .testimoni-content.two-col .testimoni_text {
            padding-left: 0;
        }

        /*FAQ section*/

        .faq-section {
            text-align: center;
            width: 100%;
            margin: 0 auto;
            position: relative;
            z-index: 10;
            padding-bottom: 20px;
            background: #202b73;
        }

        .faq-bg {
            position: absolute;
            top: 0;
        }

        .faq-section h2 {
            color: #fff;
            font-size: 30px;
            line-height: 34px;
            font-weight: 700;
            margin-bottom: 40px;
            position: relative;
            z-index: 200;
            padding-top: 30px;
        }

        .faq-content {
            margin-bottom: 20px;
            text-align: left;
            color: #fff;
            z-index: 200;
            position: relative;
            width: 80%;
            margin: 0 auto 20px auto;
        }

        .faq-content h3 {
            font-weight: 700;
            padding: 0 10px 10px 10px;
            font-size: 14px;
        }

        .faq-content p {
            padding: 10px 10px;
            font-size: 14px;
            line-height: 18px;
            color: #fff;
        }

        .faq-content a {
            color: #fff;
            text-decoration: underline;
        }

        /*information section*/

        .information-section {
            padding: 40px 90px;
            color: #222855;
            background: #fff;
        } 

        .information-section h3 {
            text-align: center;
            font-weight: 700;
            font-size: 30px;
            color: #222855;
            margin-bottom: 10px;
        } 

        .information-section p {
            margin-bottom: 0px;
            font-size: 12px;
            line-height: 16px;
        } 

        .wrapper-info {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .text-info {
            width: 80%;
        }

        .images-info {
            width: 20%;
            padding-left: 20px;
            position: relative;
            top: -20px;
        }

        .center-adv {
            text-align: center;
            width: 70%;
            margin: 20px auto 0 auto;
        }

        .reference-section {
            padding-bottom: 30px;
        } 

        .reference-section  ul li {
            list-style: none;
            font-size: 11px;
            color: #acaba7;
            margin-bottom: 4px;
        }

      

        
        @media screen and (min-width: 768px) {
            #bbn-col-wrapper {
                width: 100%;
                max-width: 800px;
                height: 100%;
                /*background: rgba(255, 169, 171, 1.00);*/
                padding: 0;
                margin: auto;
                position: relative;
                display: block;
            }
            #bbn-col-wrapper .base-img {
                width: 100%;
                position: absolute;
            }
            img {
                width: 100%;
            }
            .row-bnn {
                width: 100%;
                height: auto;
                position: relative;
                float: left;
            }
            #bbn-col-mobile {
                display: none;
            }
        }
        /* MOBILE */

        @media screen and (max-width: 768px) {
            sup {
                font-size: 0.7em;
            }
            .mobile--section {
        		display: block!important;
                background: #347a6a;
            }

            .desktop--section {
                display: none!important;
            }


            img {
                width: 100%;
            }
            .row-bnn {
                width: 100%;
                height: auto;
                position: relative;
                float: left;
            }
            /*Mobile Font*/
            .font-10 {
                font-size: 1.3vw;
            }
            .font-11 {
                font-size: 1.4vw;
            }
            .font-12 {
                font-size: 1.5vw;
            }
            .font-14 {
                font-size: 1.8vw;
            }
            .font-15 {
                font-size: 1.9vw;
            }
            .font-16 {
                font-size: 2vw;
            }
            .font-17 {
                font-size: 2.2vw;
            }
            .font-18 {
                font-size: 2.3vw;
            }
            .font-20 {
                font-size: 2.6vw;
            }
            .font-24 {
                font-size: 3.1vw;
            }
            .font-26 {
                font-size: 3.3vw;
            }
            .font-28 {
                font-size: 3.6vw;
            }
            .font-30 {
                font-size: 3.9vw;
            }
            .font-32 {
                font-size: 4.1vw;
            }
            .font-34 {
                font-size: 4.4vw;
            }
            .font-36 {
                font-size: 4.6vw;
            }
            .font-40 {
                font-size: 5.2vw;
            }

        }


        @media screen and (max-width: 620px) {

            /*Mobile Font*/
            .font-10 {
                font-size: 1.3vw;
            }
            .font-11 {
                font-size: 1.4vw;
            }
            .font-12 {
                font-size: 1.5vw;
            }
            .font-14 {
                font-size: 1.8vw;
            }
            .font-15 {
                font-size: 1.9vw;
            }
            .font-16 {
                font-size: 2vw;
            }
            .font-17 {
                font-size: 2.2vw;
            }
            .font-18 {
                font-size: 2.3vw;
            }
            .font-20 {
                font-size: 18px;
            }
            .font-24 {
                font-size: 3.1vw;
            }
            .font-26 {
                font-size: 3.3vw;
            }
            .font-28 {
                font-size: 28px;
            }
            .font-30 {
                font-size: 3.9vw;
            }
            .font-32 {
                font-size: 4.1vw;
            }
            .font-34 {
                font-size: 4.4vw;
            }
            .font-36 {
                font-size: 4.6vw;
            }
            .font-40 {
                font-size: 5.2vw;
            }


    
            .desktop-version {
                display: none;
                opacity: 0;
                visibility: hidden;
            }

            .mobile-version {
                display: block;
                opacity: 1;
                visibility: visible;
            }

            .top-section_wrapper {
                flex-direction:  column;
            }

            .home-banner_text {
                position: relative;
            }

            .home-banner_text {
                margin-top: -60px;
            }

            .medicine-ornament_right {
                display: none;
            }

            .medicine-ornament_left {
                display: none;
            }

            .sign-section_wrapper {
                flex-direction: column;
            }

            .sign-section_block {
                width: 100%;
            }

            .title-ornament .title-text {
                font-size: 15px;
            }

            .top-section_wrapper-images {
                width: 80%;
            }

            .top-section_wrapper-text {
                width: 80%;
            }

            .sign-section_block {
                padding: 0 0 10px 0;
                margin-bottom: 10px;
            }

            .footnote-bottom {
                width: 90%;
            }

            .muscle_health-ing-title, .joint_health-ing-title {
                font-size: 18px;
            }

            .muscle_health-block, .joint_health-block {
                flex-direction: column;
            }

            .muscle_health-block.reverse, .joint_health-block.reverse {
                flex-direction: column-reverse;
            }

            .muscle_health-block-subtitle, .muscle_health-block-textsub {
                width: 80%;
            }

            .muscle_health-images, .joint_health-images {
                width: 80%;
            }



            .muscle_health-content, .joint_health-content {
                width: 80%;
                padding-left: 0;
                margin-top: 20px;
            }

            .joint_health-content.left {
                padding-right: 0;
            }

            .muscle_health-ing-title b, .joint_health-ing-title b {
                font-size: 22px;
            }

            .sign-section_wrapper.bottom {
                width: 70%;
            }

            .joint_health-block-subtitle {
                width: 80%;
            }

            .joint_health-block-textsub {
                width: 80%;
            }

            .promise-section-title {
                top: -100px;
            }

            .promise-section_content {
                margin: -90px auto 0 auto;
            }

            .joint_health-block {
                flex-direction: column;
            }

            .promise-section-inner_ornament {
                display: none;
            }

            .promise-section-inner_ornament_bottom {
                display: none;
            }

            .promise-section_content_wrap-flex {
                flex-direction: column;
            }

            .promise-section_content_wrap-flex-content, .promise-section_content_wrap-flex-images {
                width: 80%;
            }

            .testimoni-content-2-col {
                flex-direction: column;
            }

            .testimoni-content.two-col {
                width: 85%;
                margin-bottom: 20px;

            }

            .testimoni-content {
                flex-direction: column;
                align-items: flex-start;
            }

            .testimoni_images {
                width: 50px;
            }

            .testimoni_text {
                padding-left: 10px;
            }

            .wrapper-info {
                flex-direction: column-reverse;
            }
            .images-info {
                top: 0;
                margin-bottom: 20px;
            }
            .testimoni-section h3 {
                font-size: 22px;
                line-height: 26px;
            }
            .information-section h3 {
                margin-top: 20px;
            }
            .information-section {
                padding: 40px 20px;
            }

            .reference-section {
                width: 80%;
                margin: 0 auto;
            }

            .center-adv {
                width: 90%;
            }


        }


        @media only screen and (max-width: 620px) and (min-width: 400px) {

            .mobile-gen {
                position: relative;
                margin-top: 45px;
            }

        }

        @media only screen and (max-width: 400px) and (min-width: 390px) {

            .mobile-gen {
                position: relative;
                margin-top: 27px;
            }

        }